ul{
	list-style-type:none ;
	margin: 0px;
	padding: 0px;
	border: 1px solid #FFF;
	background-color: #EAEAEA
}

li{
	/*cada item se debe visualizar en linea uno al lado 
	del otro pero debe permitir que puedan ser tratados como un bloque*/
	display: inline-block;
}

a{

	font-family: 'Open Sans Condensed', sans-serif;
	/*quitar el subrayado*/
	text-decoration: none;
	font-size: 35px;
	/*convertir en bloque*/
	display: block;
	padding: 6px;
	border: 1px solid #CCC;
	background-color: #EAEAEA;

}

/* estilo para el enlace para la pseudaclase hover*/

a:hover{
	color: #FFF;
	background-color: #666;
	border-bottom-width: 5px;
	border-bottom-color: blue;

}


.in, .gal, .vid, .cel, .not, .pub{
	font-size: 89px;
	
}
